<div class="new-post-card card">
  <div class="card-header">
    <h2>Create a New Post</h2>
  </div>
  <form class="card-body" id="new-post-form">
    <div class="form-group">
      <label class="form-label" for="post-title">Title</label>
      <input type="text" class="form-input" name="post-title" id="post-title" />
    </div>
    <div class="form-group">
      <label class="form-label" for="post-body">Content</label>
      <textarea class="form-input" name="post-body" id="post-body"></textarea>
    </div>
    <button class="btn" type="submit">Create</button>
  </form>
</div>
<script src="/js/new.js"></script>




