<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h2>Sign Up</h2>
    <a href="/login">Login instead</a>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div class="form-group">
        <label for="username-input-signup">Username</label>
        <input type="text" class="form-control" id="username-input-signup" />
      </div>
      <div class="form-group">
        <label for="password-input-signup">Password</label>
        <input type="password" class="form-control" id="password-input-signup" />
      </div>
      <button type="submit" id="signup-btn" class="btn" >Signup!</button>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>


